
<%= form_for(@user,url:  user_end_user_path) do |f| %>
<div class="field">

	<div class="field">
      <h2 class="text-center">
      写真 <br />
      <%= f.attachment_field :photo %><h2>
    </div>

	<div class="address">
		<h2 class="text-center">ニックネーム</br>
		<%= f.text_field :nickname %>
		</h2>
	</div>

	<div class="address">
		<h2 class="text-center">姓</br>
		<%= f.text_field :kanzi_last_name %>
		</h2>
	</div>

	<div class="address">
		<h2 class="text-center">名</br>
		<%= f.text_field :kanzi_first_name %>
		</h2>
	</div>

	<div class="address">
		<h2 class="text-center">セイ</br>
		<%= f.text_field :kana_last_name %>
		</h2>
	</div>

	<div class="address">
		<h2 class="text-center">メイ</br>
		<%= f.text_field :kana_first_name %>
		</h2>
	</div>

	<div class="address">
		<h2 class="text-center">性別</br>
		<%= f.text_field :sex %>
		</h2>
	</div>

	<div class="address">
		<h2 class="text-center">好きな国</br>
		<%= f.text_field :like_country %>
		</h2>
	</div>

<div class="address">
		<h2 class="text-center">自己紹介</br>
		<%= f.text_field :self_introduction %>
		</h2>
	</div>
	<div class="address">
		<h2 class="text-center">メールアドレス</br>
		<%= f.text_field :email %>
		</h2>
	</div>



    <div class="actions">
      <%= f.submit "登録" %>
    </div>
  <% end %>
