<h1 class="text-center">マイページ</h1>
  <div class="container">
    <div class="text-center">

    <%= attachment_image_tag @user, :photo, :fill, 100, 100, format: 'jpeg' %>

      <table class="table table-bordered">
        <tr>
          <th style="text-align:center;">ニックネーム</th>
          <td style="text-align:center;"><%= @user.nickname %></td>
        </tr>

        <tr>
          <th style="text-align:center;">名前</th>
          <td style="text-align:center;"> <%= @user.kanzi_last_name %><%= @user.kanzi_first_name %></td>
          </tr>

          <tr>
            <th style="text-align:center;">カナ</th>
            <td style="text-align:center;"><%= @user.kana_last_name+""+@user.kana_first_name %></td>
          </tr>

          <tr>
            <th style="text-align:center;">性別</th>
            <td style="text-align:center;"><%= @user.sex %></td>
          </tr>

          <tr>
            <th style="text-align:center;">好きな国</th>
            <td style="text-align:center;"><%= @user. like_country %></td>
          </tr>

          <tr>
            <th style="text-align:center;">自己紹介</th>
            <td style="text-align:center;"><%= @user. self_introduction %></td>
          </tr>

          <tr>
            <th style="text-align:center;">メールアドレス</th>
            <td style="text-align:center;"><%= @user. email %></td>
          </tr>
      </table>

    <%= render 'relationships/follow_button', user: @user %>

      <%= link_to"マイページ編集",  edit_user_end_user_path(@user), class:"btn btn-default" %>
      <%=link_to"ログアウト", destroy_user_session_path, method: :delete %>
    </div>



