<div class="container">
    <div class="row">
        <div class="col-xs-11">
            <h1 class="text-center">記事　追加</h1>
                <div class="article_explanation">
                    記事作成では<br>
                    日付/開始時間/終了時間
                    アイコン/タイトル/を記述してください！<br>
                    写真・説明・評価は後からでも追加することができます。<br>
                    写真をつけると見てくれた人がその記事詳細を見ることができます！
                </div>

                <%= form_for(@article ,url: user_schedule_articles_path(params[:schedule_id])) do |f| %>
                    <% if @article.errors.any? %>
                        <h3>入力した内容にエラーが<%= @article.errors.count %>件あります</h3>
                            <ul>
                                <% @article.errors.full_messages.each do |message| %>
                                    <li class="error_message"><%= message %></li>
                                <% end %>
                            </ul>
                    <% end %>

        	        <table class= "table table-bordered">
                        <tr>
                            <th class="col-xs-3">日付</th>
                                <td align="center"><%= f.select :date, [["1日目","1日目"],["2日目", "2日目"], ["３日目", "３日目"], ["４日目", "４日目"], ["５日目", "５日目"], ["６日目", "６日目"], ["7日目", "7日目"],["その他", "その他"]] ,class:"form-control" %></td>
                        </tr>

                        <tr>
                            <th class="col-xs-3">開始時間</th>
                                <td align="center"><%= f.time_field :start_time %></td>
                        </tr>

                        <tr>
                            <th class="col-xs-3">終了時間</th>
                                <td align="center"><%= f.time_field :finish_time %></td>
                        </tr>

                        <tr>
                            <th class="col-xs-3">アイコン</th>
                                <td align="center"><%= f.collection_select :category_id, Category.all,:id,:explanation%></td>
                        </tr>

                        <tr>
                            <th class="col-xs-3">タイトル</th>
                                <td align="center"><%= f.text_field :title %></td>
                        </tr>

                        <tr>
                            <th class="col-xs-3">説明</th>
                                <td align="center"><%= f.text_area :memo %></td>
                        </tr>

                        <tr>
                            <th class="col-xs-3">写真</th>
                                <td align="center"><%= f.attachment_field :photo %></td>
                        </tr>

                        <tr>
                            <th class="col-xs-3">評価</th>
                                <td align="center">
                                    <div class="form-group row" id="star">
            					       <%= f.label :evaluation,'評価 ' %>
            					       <%= f.hidden_field :evaluation, id: :review_star %>
                                    </div>
        					    </td>
                        </tr>
                    </table>

                    <%= f.submit "登録",:class=>"create_btn" %>
                <% end %>
        </div>
    </div>
</div>



  <!-- 評価javascript -->
  <script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'article[evaluation]',
    half: true,
  });
  </script>
