 <table class="table table-bordered">
		<thead>
		　<tr>
			<th style="text-align:center;">アイコン</th>
			<th style="text-align:center;">説明</th>
			<th style="text-align:center;"></th>
			<th style="text-align:center;"></th>
		　</tr>
	    </thead>

	    <tbody>
	      <% @categorys.each do |category| %>
	        <tr>
	        <td align="center"> <%= attachment_image_tag category, :icon, :fill, 20, 20, format: 'jpeg' %></td>
		    <td align="center"><%=  category.explanation %></td>
			<td align="center"><%= link_to "編集", edit_admin_category_path(category.id) ,class:"glyphicon glyphicon-headphones btn btn-default" %></td>
			<td align="center"><%= link_to"削除", admin_categorys_path(category.id),method: :delete %></td>
	        </tr>
          <%end%>
         </tbody>
    </table>
    <%= link_to "追加", new_admin_category_path %>
