<h1 class="text-center">カテゴリ追加</h1>
	<div class="container">
		<%= form_for(@category,url: admin_categorys_path) do |f| %>

			<% if @category.errors.any? %>
			    <h3>入力した内容にエラーが<%= @category.errors.count %>件あります</h3>
			    	<ul>
			     		<% @category.errors.full_messages.each do |message| %>
			        		<li class="error_message"><%= message %></li>
			      		<% end %>
			    	</ul>
			<% end %>



			<table class= "table table-bordered">
		        <tr>
		            <th class="col-xs-6">アイコン</th>
		                <td align="center"><%= f.attachment_field :icon %></td>
		        </tr>

		        <tr>
		            <th class="col-xs-6">説明</th>
		                <td align="center"><%= f.text_field :explanation %></td>
		        </tr>
		    </table>
  			<%= f.submit "登録",:class=>"create_btn_category_new" %>
		<% end %>
  	</div>



