<div class="container">
    <h1 class="text-center">記事編集</h1>
        <%= form_for(@article ,url: admin_schedule_article_path) do |f| %>
            <table class= "table table-bordered">
                <tr>
                    <th class="col-xs-6">日付</th>
                        <td align="center"><%= f.select :date, [["1日目","1日目"],["2日目", "2日目"], ["３日目", "３日目"], ["４日目", "４日目"], ["５日目", "５日目"], ["６日目", "６日目"], ["7日目", "7日目"],["その他", "その他"]] ,class:"form-control" %>
                        </td>
                </tr>

                <tr>
                    <th class="col-xs-6">開始日時間</th>
                        <td align="center"><%= f.time_field :start_time %></td>
                </tr>

                <tr>
                    <th class="col-xs-6">終了時間</th>
                        <td align="center"><%= f.time_field :finish_time %></td>
                </tr>

                <tr>
                    <th class="col-xs-6">アイコン</th>
                        <td align="center"><%= f.collection_select :category_id, Category.all,:id,:explanation%>
                        </td>
                </tr>

                <tr>
                    <th class="col-xs-6">タイトル</th>
                        <td align="center"><%= f.text_field :title %></td>
                </tr>

                <tr>
                    <th class="col-xs-6">説明</th>
                        <td align="center"><%= f.text_area :memo %></td>
                </tr>

                <tr>
                    <th class="col-xs-6">写真</th>
                        <td align="center"><%= f.attachment_field :photo %></td>
                </tr>

                <tr>
                    <th class="col-xs-6">評価</th>
                        <td align="center"><div class="form-group row" id="star">
                            <%= f.label :evaluation,'評価 ' %>
                            <%= f.hidden_field :evaluation, id: :review_star %>
                        </div>

                        </td>
                    </tr>
            </table>

            <%= f.submit"登録" ,:class=>"create_btn1"%>

                <button type="button" class="btn btn-default center-block btn-lg btn-danger">
                    <%= link_to '削除',  admin_schedule_article_path(@article.schedule.id,@article.id),method: :delete %>
                </button>

        <% end %>
</div>

<script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'article[evaluation]',
    half: true,
  });
</script>


