<div class="container">
    <h1 class="text-center">記事詳細</h1>
    	<h2 class="text-center">
    		<%= attachment_image_tag @article, :photo, :fill, 100, 100, format: 'jpeg' %>
    	</h2>

    	<table class= "table table-bordered">
            <tr>
                <th class="col-xs-6">日程</th>
                    <td align="center"><%= @article.date %></td>
            </tr>

            <tr>
                <th class="col-xs-6">旅行開始日</th>
                    <td align="center"><%= @article.start_time.strftime('%H時%M分') %></td>
            </tr>

            <tr>
                <th class="col-xs-6">旅行終了日</th>
                    <td align="center"><%= @article.finish_time.strftime('%H時%M分') %></td>
            </tr>

            <tr>
                <th class="col-xs-6">アイコン</th>
                    <td align="center"><%= attachment_image_tag @article.category, :icon, :fill, 50, 50, format: 'jpeg' %></td>
            </tr>

            <tr>
                <th class="col-xs-6">アイコン説明</th>
                    <td align="center"><%= @article.category.explanation %></td>
            </tr>

            <tr>
                <th class="col-xs-6">タイトル</th>
                    <td align="center"><%= @article.title %></td>
            </tr>

            <tr>
                <th class="col-xs-6">説明</th>
                    <td align="center"><%= @article.memo %></td>
            </tr>

            <tr>
                <th class="col-xs-6">評価</th>
                    <td align="center">
                        <div id="star-rate-<%= @article.id %>"></div>
                    </td>
            </tr>

        </table>


        <div class="ariticle_show_button">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default center-block btn-lg">
                    <%= link_to"編集",  edit_admin_schedule_article_path(@article.schedule.id,@article.id) %>
                </button>

                <button type="button" class="btn btn-default center-block btn-lg">
                    <%= link_to"一覧",  admin_schedule_path(@article.schedule.id)%>
                </button>
            </div>
        </div>
</div>

<script>
  $('#star-rate-<%= @article.id %>').raty({
    size: 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    half: true,
    readOnly: true,
    score: <%= @article.evaluation %>,
  });
</script>

