<h1 class="text-center">記事　詳細</h1>
	<div class="container">
    	<h2 class="text-center">写真<br>
    		<%= attachment_image_tag @article, :photo, :fill, 100, 100, format: 'jpeg' %>
    	</h2>

    	<table class= "table table-bordered">
                    <tr>
                        <th style="text-align:center;">日程</th>
                        <td align="center"><%= @article.date %></td>
                    </tr>

                    <tr>
                        <th style="text-align:center;">旅行開始日</th>
                        <td align="center"><%= @article.start_time.strftime('%H時%M分') %></td>
                    </tr>

                    <tr>
                        <th style="text-align:center;">旅行終了日</th>
                        <td align="center"><%= @article.finish_time.strftime('%H時%M分') %></td>
                    </tr>

                     <tr>
                        <th style="text-align:center;">アイコン</th>
                        <td align="center">
                        <%= attachment_image_tag @article.category, :icon, :fill, 100, 100, format: 'jpeg' %></td>
                    </tr>

                    <tr>
                        <th style="text-align:center;">アイコン説明</th>
                        <td align="center"><%= @article.category.explanation %></td>
                    </tr>

                    <tr>
                        <th style="text-align:center;">タイトル</th>
                        <td align="center"><%= @article.title %></td>
                        </tr>

                    <tr>
                        <th style="text-align:center;">説明</th>
                        <td align="center"><%= @article.memo %></td>
                    </tr>

                    <tr>
                        <th style="text-align:center;">評価</th>
                        <td align="center">
                            <div id="star-rate-<%= @article.id %>">
                            </div>
                        </td>
                    </tr>

            </table>

<%= link_to"編集",  edit_admin_schedule_aricle_path(@article.schedule.id,@article.id) %>

<%= link_to"一覧",  admin_schedule_path(@article.schedule.id)%>
<%#= #link_to"一覧へ",  user_schedule_path %>









<script>
          $('#star-rate-<%= @article.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= @article.evaluation %>,
          });
</script>