<div class="container">
    <h1 class="text-center">国名追加</h1>
        <%= form_for(@country, url: admin_countries_path) do |f| %>

            <% if @country.errors.any? %>
                <h3>入力した内容にエラーが<%= @country.errors.count %>件あります</h3>
                    <ul>
                        <% @country.errors.full_messages.each do |message| %>
                            <li class="error_message"><%= message %></li>
                        <% end %>
                    </ul>
            <% end %>

            <table class= "table table-bordered">
                <tr>
                    <th class="col-xs-6">大陸</th>
                    <td align="center"><%= f.collection_select :continent_id, Continent.all,:id,:name %></td>
                </tr>

                <tr>
                    <th class="col-xs-6">写真</th>
                    <td align="center"><%= f.attachment_field :photo %></td>
                </tr>

                <tr>
                    <th class="col-xs-6">名前</th>
                    <td align="center"><%= f.text_field :name %></td>
                </tr>

                <tr>
                    <th class="col-xs-6">緯度</th>
                    <td align="center"><%= f.text_field :latitude %></td>
                </tr>

                <tr>
                    <th class="col-xs-6">軽度</th>
                    <td align="center"><%= f.text_field :longitude %></td>
                </tr>

                <tr>
                    <th class="col-xs-6">通貨</th>
                    <td align="center"><%= f.text_field :money %></td>
                    </tr>

                <tr>
                    <th class="col-xs-6">時差</th>
                    <td align="center"><%= f.text_field :time_difference %></td>
                </tr>

                <tr>
                    <th class="col-xs-6">首都</th>
                    <td align="center"><%= f.text_field :world_heritage %></td>
                </tr>

                <tr>
                    <th class="col-xs-6">言語</th>
                    <td align="center"><%= f.text_field :language %></td>
                </tr>

            </table>
        <%= f.submit "登録",:class=>"create_btn_country" %>
        <% end %>
</div>



