<h1 class="text-center">国　詳細</h1>
	<div class="container">
		<h2 class="text-center">写真<br>
		<%= attachment_image_tag @country, :photo, :fill, 100, 100, format: 'jpeg' %>
		</h2>

		<table class= "table table-bordered">
                    <tr>
                        <th style="text-align:center;">大陸</th>
                        <td align="center"><%= @country.continent.name%></td>
                    </tr>

                    <tr>
                        <th style="text-align:center;">名前</th>
                        <td align="center"><%= @country.name %></td>
                    </tr>

                    <tr>
                        <th style="text-align:center;">緯度</th>
                        <td align="center"><%= @country.latitude %></td>
                    </tr>

                    <tr>
                        <th style="text-align:center;">軽度</th>
                        <td align="center"><%= @country.longitude %></td>
                    </tr>

                    <tr>
                        <th style="text-align:center;">通貨</th>
                        <td align="center"><%= @country.money %></td>
                        </tr>

                    <tr>
                        <th style="text-align:center;">時差</th>
                        <td align="center"><%= @country.time_difference %></td>
                    </tr>

                    <tr>
                        <th style="text-align:center;">首都</th>
                        <td align="center"><%= @country.world_heritage %></td>
                    </tr>

                    <tr>
                        <th style="text-align:center;">言語</th>
                        <td align="center"><%= @country.language %></td>
                    </tr>

            </table>


            <% @schedules.each do |schedule| %>
                <%= link_to( user_schedule_path(schedule.id)) do %>
                    <div class="container">
                        <div class="schedule_photo">
                        <%= attachment_image_tag schedule, :photo, :fill, 100, 100, format: 'jpeg' %>
                    </div>

                    <div class="container">
                        <div class="schedule_title">
                        <%=   schedule.title %>
                    </div>

                    <div class="schedule_user_nickname">
                        <%=   schedule.user.nickname %>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>


