<div class="container">
    <div class="country_shyousai">国　詳細</div>
        <div class="row">
            <div class="col-xs-5">
        		<div class="country_photo">
        		<%= attachment_image_tag @country, :photo, :fill, 400, 300, format: 'jpeg' %>
        		</div>
            </div>
            <div class="col-xs-7">
                <table class= "table table-bordered">
                    <tr>
                        <th style="text-align:center;">大陸</th>
                        <td align="center"><%= @country.continent.name%></td>
                    </tr>

                    <tr>
                        <th style="text-align:center;">名前</th>
                        <td align="center"><%= @country.name %></td>
                    </tr>

                    <tr>
                        <th style="text-align:center;">緯度</th>
                        <td align="center"><%= @country.latitude %></td>
                    </tr>

                    <tr>
                        <th style="text-align:center;">軽度</th>
                        <td align="center"><%= @country.longitude %></td>
                    </tr>

                    <tr>
                        <th style="text-align:center;">通貨</th>
                        <td align="center"><%= @country.money %></td>
                        </tr>

                    <tr>
                        <th style="text-align:center;">時差</th>
                        <td align="center"><%= @country.time_difference %></td>
                    </tr>

                    <tr>
                        <th style="text-align:center;">首都</th>
                        <td align="center"><%= @country.world_heritage %></td>
                    </tr>

                    <tr>
                        <th style="text-align:center;">言語</th>
                        <td align="center"><%= @country.language %></td>
                    </tr>
                </table>
            </div>

            <% @schedules.each do |schedule| %>
                <%= link_to( user_schedule_path(schedule.id)) do %>
                    <div class="col-xs-3">
                        <div class="schedule_photo">
                                <%= attachment_image_tag schedule, :photo, :fill, 260, 200, format: 'jpeg' %>
                        </div>
                        <table class= "table table-bordered">
                            <tr>
                                <th style="text-align:center;">タイトル</th>
                                <td align="center"><%= schedule.title %></td>
                            </tr>

                            <tr>
                                <th style="text-align:center;">ユーザ名</th>
                                <td align="center"><%=   schedule.user.nickname %></td>
                            </tr>
                        </table>
                    </div>
                <% end %>
            <% end %>
        </div>
</div>


<style>
.country_photo{
    text-align: center;
}
.table{
    margin-top: 0px;
}
.country_shyousai{
    text-align: center;
    font-size:  50px;
}

</style>

