<h1 class="text-center">マイページ編集</h1>
	<div class="container">
		<%= form_for(@user,url: admin_user_path) do |f| %>

			<table class= "table table-bordered">
				<tr>
          			<th style="text-align:center;">写真</th>
          			<td align="center"><%= f.attachment_field :photo %></td>
        		</tr>

		        <tr>
		          <th style="text-align:center;">ニックネーム</th>
		          <td align="center"><%= f.text_field :nickname %></td>
		        </tr>

		        <tr>
		          <th style="text-align:center;">姓</th>
		          <td align="center"><%= f.text_field :kanzi_last_name %></td>
		        </tr>

		        <tr>
		          <th style="text-align:center;">名</th>
		          <td align="center"><%= f.text_field :kanzi_first_name %></td>
		        </tr>

		        <tr>
		          <th style="text-align:center;">セイ</th>
		          <td align="center"><%= f.text_field :kana_last_name %></td>
		        </tr>

		         <tr>
		            <th style="text-align:center;">メイ</th>
		            <td align="center"><%= f.text_field :kana_first_name %></td>
		         </tr>

		         <tr>
		            <th style="text-align:center;">性別</th>
		            <td align="center"><%= f.select :sex, [["男性","男性"],["女性", "女性"]] ,class:"form-control" %></td>
		         </tr>

		         <tr>
		            <th style="text-align:center;">好きな国</th>
		            <td align="center"><%= f.text_field :like_country %></td>
		         </tr>

		         <tr>
		            <th style="text-align:center;">自己紹介</th>
		            <td align="center"><%= f.text_field :self_introduction %></td>
		         </tr>

		         <tr>
		            <th style="text-align:center;">メールアドレス</th>
		            <td align="center"><%= f.text_field :email %></td>
		         </tr>
		      </table>



    <div class="actions">
      <%= f.submit "登録" %>
    </div>
  <% end %>
