<h1 class="text-center">スケジュール</h1>
      <div class="container">
         <% @articles_by_date.each do |key, articles| %>
           <table class="table table-bordered">
            <thead>
              <tr>
              <th style="text-align:center;">日程</th>
              <th style="text-align:center;">開始時間</th>
              <th style="text-align:center;">終了時間</th>
              <th style="text-align:center;">アイコン</th>
              <th style="text-align:center;">タイトル</th>
              <th style="text-align:center;">説明</th>
              <th style="text-align:center;">写真</th>
              <th style="text-align:center;">評価</th>
               <% if @schedule.released? %>
              <th style="text-align:center;">編集</th>
              <% end %>
        　     </tr>
            </thead>

            <tbody>
                <% articles.sort_by!{|a| a.start_time}.each do |article| %>
                  <tr>
                    <td align="center"><%= article.date %></td>

                    <td align="center"><%= article.start_time.strftime('%H時%M分') %>
                    </td>

                    <td align="center"><%= article.finish_time.strftime('%H時%M分') %>
                    </td>

                    <td align="center"><%= attachment_image_tag article.category, :icon, :fill, 50, 50, format: 'jpeg' %></td>

                    <td align="center"><%= article.title %></td>

                    <td align="center"><%= article.memo %></td>


                    <td align="center"><%= attachment_image_tag article, :photo, :fill, 100, 100, format: 'jpeg' %></td>

                    <td align="center"><div id="star-rate-<%= article.id %>"></td>

                      <% if @schedule.released? %>
                    <td align="center"><%= link_to"編集",  edit_user_schedule_aricle_path(article.schedule.id,article.id) %></td>
                    <% end %>
                  </tr>
                  <%end%>
                <%end%>
              </tbody>
          </table>

