<%= form_for(@schedule,url: user_schedule_path) do |f| %>


<h4>国</h4>
<%= f.collection_select :country_id, Country.all,:id,:name %>


<h4>旅行開始日</h4>
<%= f.date_field :start_day %>


<h4>旅行終了日</h4>
<%= f.date_field :finish_day %>

<h4>期間</h4>
 <%= f.select :date, [["日帰り","日帰り"],["2日間", "２日間"], ["３日間", "３日間"], ["４日間", "４日間"], ["５日間", "５日間"], ["６日間", "６日間"], ["１週間", "１週間"],["その他", "その他"]] ,class:"form-control" %>

<h4>タイトル</h4>
 <%= f.text_field :title %>


<h4>説明</h4>
 <%= f.text_area :memo %>


<h4>写真</h4>
<%= f.attachment_field :photo %>


<h4>テーマ</h4>
<%= f.select :theme, [["観光", "観光"], ["ツアー", "ツアー"], ["ひとり旅", "ひとり旅"], ["家族旅行", "家族旅行"], ["バックパック", "バックパック"], ["ゆったり", "ゆったり"],["食べ物", "食べ物"],["世界遺産", "世界遺産"],["その他", "その他"]] ,class:"form-control" %>


 <div class="actions">
      <%= f.submit "登録" %>
    </div>
  <% end %>



