<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="form-inline">
    <span>
        <%= link_to user_end_user_path(notification.visitor) do %>
            <%= "#{notification.visitor}" %>
        <% end %>
    </span>
    <span>
        <% case notification.action when 'follow' %>
            <span><%=link_to visitor.nickname%>さんがあなたをフォローしました</span>
        <% when 'nice' %>
            <%= link_to "あなたの投稿", user_schedule_path(notification.post_id) %><span>をいいねしました</span>
        <% when 'comment' %>
            <%if notification.post.user_id == visited.id%>
                <%= link_to "あなたの投稿", notification.post, style: "font-weight: bold;"%>
            <% else%>
                <span>
                    <%=link_to user_schedule_path(notification.post)%>
                    <%= image_tag avatar_url(notification.post.user).to_s, class: "icon_mini"%>
                    <strong><% link_to notification.schedule.user.nickname %> 'さんの投稿'にコメントしました"</strong>
                </span>
            <%end%>
            <p>
                <%= Comment.find_by(id: notification.comment_id)&.comment%>
            </p>
        <% end %>
    </span>
    <%= time_ago_in_words(notification.created_at).upcase %>
</div>





